{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 110,
  "endOfLine": "lf",
  "singleVariableDeclaration": 3
}
